Defaults        env_reset
Defaults        mail_badpass
Defaults        secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
root    ALL=(ALL:ALL) ALL
%admin ALL=(ALL) ALL
%sudo   ALL=(ALL:ALL) ALL
app     ALL=(ALL) NOPASSWD: /var/www/{{ my_fqdn }}/app/create_room.sh    
app     ALL=(ALL) NOPASSWD: /var/www/{{ my_fqdn }}/app/destroy_room.sh
#includedir /etc/sudoers.d
