// functions

async function check_updates(arg) {
    var local_version = arg;
    update_url = current_url + "/updates.json?v=" + (new Date());
    let response = await fetch(update_url);
    if (response.ok) {
        let update_file = await response.json();
        remote_version = update_file.version;
        ping = update_file.ping;
        ping_src_user = update_file.ping_src_user;
        ping_dst_user = update_file.ping_dst_user;
        ping_message = update_file.ping_message;
        if ( ping === true ) {
             if ( ping_dst_user === user_name ) {
                 Notification.requestPermission(function(result) {
                     if (result === 'granted') {
                         // normal notifs
                         var title = ping_src_user;
                         var body = ping_message;
                         const notification = new Notification(title, {body: body});
                     };
                 });
                 ping_ack()
             }
        }         
        if (remote_version > local_version) {
            $('#conversation').load('conversation.html');
            var local_version = remote_version;
            setTimeout(scroll_down, 500);
            pong(local_version);
        }
        else if (remote_version == local_version) {
            pong(local_version);
        }
        else if (remote_version < local_version) {
            var local_version = 0;
            pong(local_version);
        }
    }
    else {
        pong(local_version);
    }
}

function pong(arg) {
    var local_version = arg;
    setTimeout(check_updates, 750, local_version);
}

function fileChosen() {
    const fileInput = document.getElementById('file');
    const f = fileInput.files[0];
    if(f) {
        d.getElementsByClassName('file-form')[0].classList.remove('no-file-chosen')
    }
    else {
        d.getElementsByClassName('file-form')[0].classList.add('no-file-chosen');
    }
}

function set_user_name() {
    var user_name = document.getElementById('user_name').value;
    if (user_name.match(/^[a-z0-9]+$/i)) {
        if (user_name.length > 25) {
            alert("user name must be less than 25 characters");
        }
        else {
            document.cookie = user_name + ";SameSite=Strict; Secure";
        }
    }
    else {
      alert("user name can only be alphanumeric (a-z) (0-9)");
    }
}

async function post_message() {
    const url = 'https://{{ my_fqdn }}/app/post';
    var message = document.getElementById('post').value;
    document.getElementsByClassName('send-row')[0].reset();
    var user_name = document.cookie;
    let formData = new FormData();
    formData.append("user_name", user_name);
    formData.append("message", message);
    let response = await fetch(url, {body:formData,method:"post"});
    if (response.ok == true) {
        $('#conversation').load('conversation.html');
        scroll_down();
    }
}

async function user_quit() {
    const url = 'https://{{ my_fqdn }}/app/quit';
    var user_name = document.cookie;
    let formData = new FormData();
    formData.append("user_name", user_name);
    let response = await fetch(url, {body:formData,method:"post"});
    if (response.ok == true) {
        window.location.href = 'https://duckduckgo.com/';
    }
}

function destroy() {
    const url = 'https://{{ my_fqdn }}/app/destroy';
    var user_name = document.cookie;
    let formData = new FormData();
    formData.append("user_name", user_name);
    fetch(url, {body:formData,method:"post"});
}

function preview_image() {
    var filesToUpload = document.getElementById('file').files;
    file = filesToUpload[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#preview').attr('src', e.target.result).height(100);
        }
        reader.readAsDataURL(file);
    }
    else {
        $('#preview').attr('src', '');
    }
}

async function upload_file() {
    const url = 'https://{{ my_fqdn }}/app/upload';
    var user_name = document.cookie;
    var fileInput = document.getElementById('file');
    var file = fileInput.files[0];
    let formData = new FormData();
    formData.append("user_name", user_name);
    formData.append("file", file);
    let response = await fetch(url, {body:formData,method:"post"});
    if (response.ok == true) {
        $('#conversation').load('conversation.html');
        scroll_down();
        clear_preview();
        d.getElementsByClassName('file-form')[0].classList.add('no-file-chosen');
    }
}

function clear_preview() {
    document.getElementById('preview').src = '';
    var filesToUpload = document.getElementById('file').files;
    var file = '';
}

function scroll_down() {
    var textarea = document.getElementById('conversation');
    textarea.scrollTop = textarea.scrollHeight;
}

function toggleSidebar() {
    document.body.classList.toggle('sidebar-open');
}

function enable_notif() {
    if (typeof Notification !== "undefined") {
        permission = Notification.permission;
        if (permission !== "granted") {
            // normal notifs
            Notification.requestPermission().then(function(permission) {
                location.reload();
                return false; 
            });
        }
    }
    else {
        alert("your browser does not support notifications")
    }
}

async function ping_ack() {
    const url = 'https://{{ my_fqdn }}/app/post';
    var message = "ping_ack";
    var user_name = document.cookie;
    let formData = new FormData();
    formData.append("user_name", user_name);
    formData.append("message", message);
    let response = await fetch(url, {body:formData,method:"post"});
    if (response.ok == true) {
        return false;
    }
}

// code & listeners

// set defaults

var complete_url = window.location.href;
var current_url = complete_url.replace("chat.html", "");

const d = document;
var user_name = document.cookie;
if (user_name === "") {
    document.cookie = "Anonymous; SameSite=Strict; Secure";
}



// start the check server loop

check_updates(0);



// listen for post

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('button-post')
    .addEventListener('click', post_message)
})

// listen for menu open
document.addEventListener('DOMContentLoaded', function () {
    document.getElementsByClassName('openbtn')[0]
    .addEventListener('click', toggleSidebar)
})

// listen for username

document.addEventListener('DOMContentLoaded', function () {
    document.getElementsByClassName('username-form')[0]
    .addEventListener('submit', set_user_name)
})

// listen for file preview

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('file')
    .addEventListener('input', fileChosen)
    document.getElementById('file')
    .addEventListener('input', preview_image)
})

// listen for upload

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('upload-form')
    .addEventListener('submit', upload_file)
})

// listen for notifs

document.addEventListener('DOMContentLoaded', function () {
    document.getElementsByClassName('btn-notif')[0]
    .addEventListener('click', enable_notif)
})

// listen for quit

document.addEventListener('DOMContentLoaded', function () {
    document.getElementsByClassName('btn-quit')[0]
    .addEventListener('click', user_quit)
})

// listen for destroy

document.addEventListener('DOMContentLoaded', function () {
    document.getElementsByClassName('btn-destroy')[0]
    .addEventListener('click', destroy)
})

// listen for close menu

document.addEventListener('DOMContentLoaded', function () {
    document.getElementsByClassName('btn-close_menu')[0]
    .addEventListener('click', toggleSidebar) 
})
