self.addEventListener('onnotificationclick', function(event) {
    console.log('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO');
});


//self.addEventListener('fetch', function(event){
//  console.log(event.request.url);
//  // return something for each interception
//});

