#!/bin/bash
#temporary.chat
#Copyright (C) 2020  Luc Baillargeon <all@200013.net>
#This program is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License version 3 as 
#published by the Free Software Foundation.
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <https://www.gnu.org/licenses/>.


# vars passed by app.py
USERNAME=$1
UUID=$2
DOMAIN=$3


invalid_chars_domain=('~' '`' '#' '$' '&' '*' '(' ')' '\' '|' '[' ']' '{' '}' ';' "'" '<' '>' '/' '?' '!')
invalid_chars_general=('~' '`' '#' '$' '&' '*' '(' ')' '\' '|' '[' ']' '{' '}' ';' "'" '<' '>' '/' '?' '!' '.')

USERNAME_LENGTH=${{"{"}}#USERNAME{{"}"}}
CHAR_NUM=0
while [[ $CHAR_NUM -lt $USERNAME_LENGTH ]];do
  CHAR=${USERNAME:$CHAR_NUM:1}
  for I_CHAR in "${invalid_chars_general[@]}";do
    if [[ "$CHAR" == "$I_CHAR" ]];then
      echo "invalid char $I_CHAR detected in username"
      exit 1
    fi
  done
  ((CHAR_NUM++))
done

DOMAIN_LENGTH=${{"{"}}#DOMAIN{{"}"}}
CHAR_NUM=0
while [[ $CHAR_NUM -lt $DOMAIN_LENGTH ]];do
  CHAR=${DOMAIN:$CHAR_NUM:1}
  for I_CHAR in "${invalid_chars_domain[@]}";do
    if [[ "$CHAR" == "$I_CHAR" ]];then
      echo "invalid char $I_CHAR detected in domain"
      exit 1
    fi
  done
  ((CHAR_NUM++))
done

if egrep '^([^.]{1,250}\.)?([^.]{1,250}\.)?[^.]{1,250}\.[^.]{1,250}$' <<< $DOMAIN;then
  echo "domain valid"
else
  echo "invalid domain"
  exit 1
fi

if [[ $DOMAIN_LENGTH -gt 250 ]];then
  echo "invalid domain"
  exit 1
fi

if [[ $USERNAME_LENGTH -gt 100 ]];then
  echo "invalid username"
  exit 1
fi  


{% if multirooms == True %}


UUID_LENGTH=${{"{"}}#UUID{{"}"}}
CHAR_NUM=0
while [[ $CHAR_NUM -lt $UUID_LENGTH ]];do
  CHAR=${UUID:$CHAR_NUM:1}
  for I_CHAR in "${invalid_chars_general[@]}";do
    if [[ "$CHAR" == "$I_CHAR" ]];then
      echo "invalid char $I_CHAR detected in uuid"
      exit 1
    fi
  done
  ((CHAR_NUM++))
done

if egrep '^[0-9a-f]{8}\-[0-9a-f]{4}\-[0-9a-f]{4}\-[0-9a-f]{4}-[0-9a-f]{12}$' <<< $UUID;then
  echo "valid uuid"
else
  echo "invalid uuid"
  exit 1
fi


{% endif %}


{% if multirooms == True %}

rm -vrf /var/www/${DOMAIN}/app/rooms/${UUID}/*
touch /var/www/${DOMAIN}/app/rooms/${UUID}/destroyed

{% endif %}

{% if multirooms == False %}

rm -vrf /var/www/${DOMAIN}/app/rooms/*
rm -vrf /var/www/${DOMAIN}/app/rooms/.htpasswd
rm -vrf /var/www/${DOMAIN}/app/rooms/conversation.html
find /var/www/${DOMAIN}/html -type l -exec rm {} \;
ln -s /var/www/${DOMAIN}/app/rooms/chat.html /var/www/${DOMAIN}/html/chat.html

{% endif %}
