#temporary.chat
#Copyright (C) 2020  Luc Baillargeon <all@200013.net>
#This program is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License version 3 as 
#published by the Free Software Foundation.
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <https://www.gnu.org/licenses/>.
#!/bin/bash
for room in $(ls /var/www/{{ my_fqdn }}/app/rooms);do
if [ -f "/var/www/{{ my_fqdn }}/app/rooms/${room}/destroyed" ];then
  rm -vrf /var/www/{{ my_fqdn }}/app/rooms/${room}
  rm -vrf /etc/nginx/sites-available/${room}.{{ my_fqdn }}
  rm -vrf /etc/nginx/sites-enabled/${room}.{{ my_fqdn }}
  systemctl reload nginx
fi
done
