[Unit]
Description=uwsgi service
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bash -c 'cd /var/www/temporary.chat; source app/bin/activate; app/bin/uwsgi --ini app/app.ini'
ExecStartPost=/usr/bin/bash -c 'cd /var/www/temporary.chat; chown :www-data app/app.sock;chmod g+rw app/app.sock'
ExecStop=/usr/bin/bash -c 'cd /var/www/temporary.chat; source app/bin/activate; app/bin/uwsgi --stop app/app.pid'

[Install]
WantedBy=multi-user.target
