server {
        listen 443 ssl;
        root /var/www/{{ my_fqdn }}/html;
        index index.html;
        server_name {{ my_fqdn }};
{% if tls_mode == "pki" %}
        ssl_certificate /etc/PKI/cert.pem;
        ssl_certificate_key /etc/PKI/cert.key;
{% else %}
        ssl_certificate /etc/letsencrypt/live/{{ my_fqdn }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ my_fqdn }}/privkey.pem;
{% endif %}
	add_header Access-Control-Allow-Origin *;
{% if multirooms == True %}
        location / {
                try_files $uri $uri/ =404;
        }
{% endif %}
{% if multirooms == False %}
        location /launcher {
                index launcher.html;
        }
{% endif %}
	location /app/create {
		include uwsgi_params;
		add_header Access-Control-Allow-Origin *;
		uwsgi_pass unix:/var/www/{{ my_fqdn }}/app/app.sock;
	}
	location /app/post {
		include uwsgi_params;
		add_header Access-Control-Allow-Origin *;
		add_header Content-type 'application/json';
		uwsgi_pass unix:/var/www/{{ my_fqdn }}/app/app.sock;
	}
	location /app/quit {
		include uwsgi_params;
		add_header Access-Control-Allow-Origin *;
		add_header Content-type 'application/json';
		uwsgi_pass unix:/var/www/{{ my_fqdn }}/app/app.sock;
	}
	location /app/destroy {
		include uwsgi_params;
		add_header Access-Control-Allow-Origin *;
		add_header Content-type 'application/json';
		uwsgi_pass unix:/var/www/{{ my_fqdn }}/app/app.sock;
	}
	location /app/upload {
		include uwsgi_params;
		add_header Access-Control-Allow-Origin *;
		add_header Content-type 'application/json';
		uwsgi_pass unix:/var/www/{{ my_fqdn }}/app/app.sock;
	}
}
